<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to Fakebook, <%= @user.name %></h1>
    <p>
      You have successfully signed up to my cheap facebook ripoff,
      probably because I made you.
      
    </p>
    <p>
      To login to the site, just follow this link: <%= link_to "Login", @url %>.
    </p>
    <p>Thanks for joining, when I'm a successful developer I'll probably buy you a drink.</p>
  </body>
</html>