<% @users.each do |user| %>
  <p>
  <%= user_avatar(user) %>
  <%= link_to "#{user.name}", user_path(user) %>
  <%= render :partial => 'friend_buttons', :locals => { :@user => user} %>
  </p>
<% end %>