@import "bootstrap-sprockets";
@import "bootstrap";

body {
  width: 80%;
  margin: auto;
  background-color: lightgrey;
}

.heading {
  font-weight: bold;
}

.rounded-circle {
  border-radius: 50%;
}

.flex-nav ul {
  display: flex;
  list-style: none;

  width: 65%;
  justify-content: space-between;
  padding: 0px;
  min-width: 350px;
}

.attached-image {
  max-width: 400px;
}

.notice {
  color: green;
  font-weight: 600;
  margin-top: 30px;
}

.alert {
  color: red;
  font-weight: 600;
  margin-top: 30px;
}
